In [84]:
import pandas as pd
import numpy as np
# df = pd.read_excel('score.xlsx',index_col='지원번호')
# df

In [85]:
df = pd.read_excel('연령별인구현황01.xlsx',index_col="행정기관",skiprows=3,nrows=1,usecols='B,E:Y')
#df.loc['전국']
df.index
df.loc['전국  '] 
#빈공백제거 
df.index[0].strip()
#
df.loc[df.index[0]] # df.loc['전국  ']

#index 이름 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True)
df.index
df.loc['전국']

0~4세         678,966
5~9세       1,019,087
10~14세     1,195,436
15~19세     1,195,498
20~24세     1,446,090
25~29세     1,777,534
30~34세     1,788,146
35~39세     1,629,589
40~44세     2,055,022
45~49세     1,965,092
50~54세     2,279,578
55~59세     2,115,365
60~64세     2,093,694
65~69세     1,670,380
70~74세     1,066,316
75~79세       760,968
80~84세       519,583
85~89세       231,644
90~94세        59,761
95~99세         9,722
100세 이상        1,473
Name: 전국, dtype: object

In [86]:
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"

In [87]:
df.loc['전국'].str.replace(",","").astype(int)

0~4세        678966
5~9세       1019087
10~14세     1195436
15~19세     1195498
20~24세     1446090
25~29세     1777534
30~34세     1788146
35~39세     1629589
40~44세     2055022
45~49세     1965092
50~54세     2279578
55~59세     2115365
60~64세     2093694
65~69세     1670380
70~74세     1066316
75~79세      760968
80~84세      519583
85~89세      231644
90~94세       59761
95~99세        9722
100세 이상       1473
Name: 전국, dtype: int64

In [88]:
df =df.T
df

행정기관            전국
0~4세       678,966
5~9세     1,019,087
10~14세   1,195,436
15~19세   1,195,498
20~24세   1,446,090
25~29세   1,777,534
30~34세   1,788,146
35~39세   1,629,589
40~44세   2,055,022
45~49세   1,965,092
50~54세   2,279,578
55~59세   2,115,365
60~64세   2,093,694
65~69세   1,670,380
70~74세   1,066,316
75~79세     760,968
80~84세     519,583
85~89세     231,644
90~94세      59,761
95~99세       9,722
100세 이상      1,473

In [89]:
df['전국'] = df['전국'].str.replace(",","").astype(int)

In [90]:
df['전국'].max()
df['전국'].min()

np.int64(1473)

In [91]:
## 이름 변경
## 출생아수 최대값 최소값을 출력
## 축을변경

In [92]:
df = pd.read_excel('출산율2.xlsx',index_col=0,skiprows=2,nrows=2)

# df['2014'] #세로방향, 컬럼방향
# df.loc['2014'] #가로방향, index방향
# df.iloc[0] #가로방향, index방향

df.index
df.index.values

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [93]:
#index 이름변경
df.index.values
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [99]:
# index와 컬럼의 축 변경
df = df.T
df

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [96]:
df.describe()

           출생아 수     합계 출산율
count   10.00000  10.000000
mean   327.93000   0.970800
std     78.06133   0.188678
min    230.00000   0.720000
25%    263.52500   0.815250
50%    314.75000   0.947500
75%    394.10000   1.142000
max    438.40000   1.239000

In [97]:
df['출생아 수'].min()

np.float64(230.0)

In [100]:
filt = (df['출생아 수'] >= 300) & (df['합계 출산율'] >=1)
df[filt]

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052